
***Importing the dependencies***

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

***Data Collection and Processing***

In [2]:
# Loading the data in the csv file into a pandas Data Frame.
raw_data = pd.read_csv('mail_data.csv')
print(raw_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
# Replace the null values with a string.
df = raw_data.where((pd.notnull(raw_data)),'')

In [4]:
# Printing the first 5 rows in the data frame.
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
# Checking the nnumber of rows and columns.
df.shape

(5572, 2)

In [6]:
# Getting the data types of the features in the data set.
df.dtypes

Category    object
Message     object
dtype: object

In [7]:
# Checking for the missing values in the data frame.
df.isnull().sum()

Category    0
Message     0
dtype: int64

***LABEL ENCODING***

SPAM - 0

HAM - 1

In [8]:
# Labelling spam mail as 0 and ham mail as 1.
df.loc[df['Category'] == 'spam',['Category']] = 0
df.loc[df['Category'] == 'ham',['Category']] = 1

***Seperating the data as text and labels***

In [9]:
X = df['Message']
Y = df['Category']
print("DATA VALUES\n",X)
print("\n\nTARGETS\n",Y)

DATA VALUES
 0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object


TARGETS
 0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

***Splitting the data into training data and testing data.***

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 3)

In [11]:
print(X.shape, X_train.shape, X_test.shape)

(5572,) (4457,) (1115,)

***Feature Extraction***

In [12]:
# Transform the text data to feature vectors that can be used as input to the Logistc Regression.
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# Convert Y_train and Y_test values as integers.
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [ ]:
print(X_train_features)

***Model Training***

LOGISTIC REGRESSION

In [14]:
# Loading the model.
model = LogisticRegression()

In [15]:
# Training the model.
model.fit(X_train_features,Y_train)

LogisticRegression()

***Model Evaluation***

In [16]:
# Accuracy for prediction on training data
training_data_prediction = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, training_data_prediction)

In [17]:
print(accuracy_on_training_data)

0.9670181736594121

In [18]:
# Accuracy for prediction on testing data
testing_data_prediction = model.predict(X_test_features)
accuracy_on_testing_data = accuracy_score(Y_test, testing_data_prediction)

In [19]:
print(accuracy_on_testing_data)

0.9659192825112107

***Building a Predicting system.***

In [21]:
input_mail = ["XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL"]

# Convert text to feature vector
input_data_features = feature_extraction.transform(input_mail)

# Making Prediction
prediction = model.predict(input_data_features)

#print(prediction)

if prediction[0]==1:
  print("Ham Mail")
else:
  print("Spam Mail")

[0]
Spam Mail